/* Toolbar */ 

#nav-bar {
	background-color: #3c7d8f;
}


.header {
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
}


.center {
	text-align: center;
}

.right {
	text-align: right;
	padding-right: 10px; 
}

.padd {
	padding-top: 6px;
	padding-bottom: 10px;
}

#about-button {
	background-color: #66bad2;
	font-size: 20px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

#back-button {
	color: #a4d9e8;
}

.tool-button {
	background: none; 
	border-width: 2px; 
	border-color: #a4d9e8; 
	color: #a4d9e8;
	padding: 3px;
}

.list-text {
	font-size: 18px;
	font-weight: bold;
	color: #175363;
}