html {
}

body {

}

h1 {
  font-family: 'Avenir Next';
  color: white !important;
  text-align: center;
}

a {
  text-decoration: none !important;
  font-family: 'Avenir Next';
}

a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: #333333;
}
/* selected link */
a:active {
    color: #333333;
}

.white-text {
  font-family: 'Avenir Next';
  color: white !important;
}

.content {
  background-color: #4f4f4f;
  font-family: 'Avenir Next';
}

.original-button{
  background-color: #897897;
  font-family: 'Avenir Next';
  margin: 5px;
}

#nav-bar {
  background-color: #333333;
}

#map_canvas {
    position: absolute;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1
}

.search-input-map{
    width:60%;
    z-index:1;
    margin-left: auto;
    margin-right:auto;
}

.par-search{
    margin-top:10%
}

.par-buttons{
    position: absolute;
    text-align: center;
    width:100%;
    bottom:0px
}

.cam-icon {
    z-index:1
    font-size: 50px;
    opacity: 0.4;
}

a.cam-link:link {
  color: #BEBEBE;
  opacity: 70%;
}

a.cam-link {
  color: #BEBEBE;
  opacity: 70%;
}


.btn-distance{
    z-index:1; margin-left: 5px;
}
