html {
}

body {

}

.page__background {
  background-color: #4f4f4f;
}

.page__content {
  background-color: #4f4f4f;
}

h1 {
  font-family: 'Avenir Next';
  color: white !important;
  text-align: center;
}

a {
  text-decoration: none !important;
  font-family: 'Avenir Next';
}

a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: #c54444;
}
/* selected link */
a:active {
    color: #333333;
}

.white-text {
  font-family: 'Avenir Next';
  color: white !important;
}

.content {
  background-color: #4f4f4f;
  font-family: 'Avenir Next';
}

.original-button{
  background-color: #c54444;
  font-family: 'Avenir Next';
  margin: 5px;
}

#nav-bar {
  background-color: #333333;
}

#map_canvas {
    position: absolute;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1
}

.search-input-map {
    width:60%;
    z-index:1;
    margin-left: auto;
    margin-right:auto;
}

.par-search{
    margin-top:10%
}

.par-buttons{
    position: absolute;
    text-align: center;
    width:100%;
    bottom:0px
}

.cam-icon {
    z-index:1
    font-size: 80px;
    opacity: 0.4;
    color: white;
}

.white-icon {
  color: #FFFFFF;
}

.btn-distance{
    z-index:1; margin-left: 5px;
}

.col {
  border: 1px solid #ccc;
  background: #4f4f4f;
  overflow: hidden;
  padding: 4px;
}

ons-col {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #4f4f4f;
}
ons-row {
  background-color: #4f4f4f;
}

.profile_row{
  height: 50%;
  width: 100%;
  padding: 5%;
}
.profile_pic_col{
  width: 33%;
  border: 0;
}
.profile_info_col{
  width: 60%;
  border: 0;
  font-size: 15px;
  padding-left: 5%;
}
.profile_picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #333333;
    border-width: 3px;
}
.picture {
  background-color: #333333;
  width: 100%;
  height: 100%;
  border: 0;
}

.profile_bar {
  background-color: #4f4f4f;
}

.padd {
  padding: 10px;

}

form {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.input-form {
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.input-form:hover {
  background-color: #cecece;
}
.input-form:hover::placeholder {
  color: #FFFFFF;
}

.input-form:focus {
  background-color: #cecece;
}
.input-form:focus::placeholder {
  color: #FFFFFF;
}

.center {
  text-align: center;
}

.half-circle-top {
    width: 200px;
    height: 100px;
    background-color: #333333;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 1px solid #cecece;
    margin-bottom: 2px;
}

.half-circle-bottom {
    width: 200px;
    height: 100px;
    background-color: #333333;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 1px solid #cecece;
}

.half-circle-bottom:hover {
  background-color: #4f4f4f;
}
.half-circle-top:hover {
  background-color: #4f4f4f;
}

p.top {
  position: relative;
  top: 45px;
  font-size: 20px;
  font-weight: bold;
  color: #cecece;
}

p.bottom {
  position: relative;
  top: -10px;
  font-size: 20px;
  font-weight: bold;
  color: #cecece;
}

.side_menu_profile {
  padding: 5px;
  height: 65px;
}
/*
<i class="fa fa-map-marker" aria-hidden="true"></i>

.map_marker {
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0;
  background: #c54444;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  } */

  .map_marker {
    position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.map_marker:before {
    content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #c54444;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
